<!DOCTYPE HTML>

<html>
	<head>
		<title>Event</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../resources/assets/css/main2.css" />
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="main.html">알뜰총雜</a></h1>
						<span>Kosta 162기 > 가을 MT</span>
					</div>

						<!-- Nav -->
						<nav id="nav">
						  <ul>
							<li><a href="main.html">Home</a></li>
							<li>
								<a href="main.html">Message</a>
									<ul class="ul_accept">
										<p class="group_invite_list">
											제목
											<div class="accept_reject">
												<a href="">보기</a>
												<a href="">삭제</a>
											</div>
										</p>
										<p class="group_invite_list">
											제목
											<div class="accept_reject">
												<a href="">보기</a>
												<a href="">삭제</a>
											</div>
										</p>
									</ul>
							</li>
							<li class="current"><a href="login.html">Logout</a></li>
						  </ul>
						</nav>
				</header>
			</div>

			<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row 50%">
						<div class="4u 12u$(medium)">
							
							<!-- Sidebar -->
							<div id="sidebar">
								<section>
									<h2>통계</h2>
									<ul class="style2">
										<li><a href="statsAccounting.html"><h3>정산결과</h3></a></li>
										<li><a href="statsPeriod.html"><h3>기간</h3></a></li>
										<li><a href="statsCategory.html"><h3>카테고리</h3></a></li>
										<li><a href="statsEvent.html"><h3>이벤트</h3></a></li>
									</ul>
								</section>
							</div>
							
						</div>
						
						<div class="8u 12u$(medium) important(medium)">
							<div id="content">

								<div> <h3>이벤트별 통계</h3></div>
								<hr/>
								<form>
									<div class="total_account" style="width:100%; padding:5%;">
										<div class="graph_box1" style="display:block; width:100%; border:solid 1px #E6E6E6; margin-bottom:30px;">
											<h3>그래프1</h3>



					
										</div>
										
										
										
										
										
										
										<div class="graph_box2" style="display:block; width:100%; border:solid 1px #E6E6E6;">
											<h3>그래프2</h3>
										
										
											이곳에 입력
										
										
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="12u">
							<div id="copyright">
								<ul class="menu">
									<li>&copy; Untitled. All rights reserved</li><li>Design: HO&MIN</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
			</div>
			
		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
