<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GeneralAffairs.store.mapper.RecordMapper">


	<insert id="registRecordFromMessage" parameterType="Record">
		INSERT INTO
		record_table(recordId,eventId,groupId,memberId,image,title,regDate,content,price,category)
		VALUES(record_seq.nextval,#{eventId},#{groupId},#{memberId},#{image},#{title},SYSDATE,#{content},#{price},#{category})
	</insert>

	<insert id="registRecord" parameterType="Record">
		INSERT INTO
		record_table(recordId,eventId,groupId,memberId,image,title,regDate,content,accounting,price,category)
		VALUES(record_seq.nextval,#{eventId},#{groupId},#{memberId},#{image},#{title},SYSDATE,#{content},#{accounting},#{price},#{category})
	</insert>

	<update id="updateRecord" parameterType="Record">
		UPDATE record_table SET
		image=#{image},title=#{title},regDate=SYSDATE,content=#{content},price=#{price},category=#{category}
		WHERE recordId=#{recordId}
	</update>
	<!-- 미사용 -->
	<update id="plusGroupBalance" parameterType="Group">
		UPDATE group_table SET
		balance =#{balance}
		WHERE groupId=#{groupId}
	</update>
	
	<update id="updateCaution" parameterType="Record">
	UPDATE record_table SET caution=#{caution}
	WHERE recordId=#{recordId}
	</update>

	<delete id="deleteRecord" parameterType="int">
		DELETE FROM record_table
		WHERE recordId=#{recordId}
	</delete>

	<select id="retrieveRecordById" parameterType="int" resultType="Record">
		SELECT
		recordId,eventId,groupId,memberId,image,title,regDate,content,accounting,caution,price,category
		FROM record_table
		WHERE recordId=#{recordId}
	</select>

	<select id="retrieveAllRecordsByEventId" parameterType="int"
		resultType="Record">
		SELECT
		recordId,eventId,groupId,memberId,image,title,regDate,content,accounting,caution,price,category
		FROM record_table
		WHERE eventId=#{eventId}
	</select>

	<select id="retrieveAllRecordsByGroupId" parameterType="int"
		resultType="Record">
		SELECT
		recordId,eventId,groupId,memberId,image,title,regDate,content,accounting,caution,price,category
		FROM record_table
		WHERE groupId=#{groupId} AND eventId=0
	</select>



	<select id="retrieveRecordsByMonth" parameterType="map"
		resultType="Record">
		SELECT
		recordId,eventId,groupId,memberId,image,title,TO_CHAR(regDate,'YYYYMMDD'),content,accounting,price,category
		FROM record_table
		WHERE regDate <![CDATA[>=]]>
		#{sDate} AND regDate <![CDATA[<]]>
		#{fDate}+1 AND accounting=#{accounting} AND groupId=#{groupId}
		ORDER BY
		TO_CHAR(regDate,'MM') ASC<!--미완 -->
	</select>


	<select id="retrieveRecordsByYear" parameterType="map"
		resultType="Record">
		SELECT
		recordId,eventId,groupId,memberId,image,title,TO_CHAR(regDate,'YYYYMMDD'),content,accounting,price,category
		FROM record_table
		WHERE regDate <![CDATA[>=]]>
		#{sDate} AND regDate <![CDATA[<]]>
		#{fDate}+1 AND accounting=#{accounting} AND groupId=#{groupId}
		ORDER BY
		TO_CHAR(regDate,'yyyy') ASC<!--미완 -->
	</select>


	<select id="retrieveGroupAccountingResult" parameterType="map"
		resultType="Integer">
		SELECT sum(price)
		FROM record_table
		WHERE regDate <![CDATA[>=]]>TO_CHAR(#{sDate},'yyyymmdd')
		AND regDate <![CDATA[<]]> TO_CHAR(#{fDate},'yyyymmdd')
		AND accounting=#{accounting} AND groupId=#{groupId}
	</select>

	<select id="retrieveEventAccountingResult" parameterType="map"
		resultType="int">
		SELECT sum(price)
		FROM record_table
		WHERE regDate <![CDATA[>=]]> #{sDate} AND regDate <![CDATA[<]]> #{fDate}+1 AND accounting=#{accounting} AND eventId=#{eventId}
	</select>
	
	<!-- 실험 -->
	<!-- SELECT sum(price)
		FROM record_table
		WHERE regDate<![CDATA[>=]]>TO_DATE(#{year},'yyyy') AND accounting=#{accounting} AND eventId=#{eventId} -->
	<select id="retrieveEventStatsRecordByYear" parameterType="map"
		resultType="int">
		SELECT sum(price)
		FROM record_table
		WHERE regDate<![CDATA[>=]]> TO_DATE(#{year}||'-01-01','yyyymmdd') AND regDate <![CDATA[<]]> TO_DATE(#{year}||'-12-31','yyyymmdd') AND accounting=#{accounting} AND eventId=#{eventId}  
	</select>
	

	<select id="retrieveGroupStatsRecordByEvent" parameterType="map"
		resultType="Record">
		SELECT sum(price)
		FROM record_table
		WHERE accounting=#{accounting} AND groupId=#{groupId}
		group by eventId
		order by eventId asc
	</select>

	<select id="retrieveGroupStatsRecordByCategory" parameterType="map"
		resultType="Integer">
		SELECT sum(price)
		FROM record_table
		WHERE accounting=#{accounting} AND groupId=#{groupId} AND category=#{category}
		
		
	</select>
	
	
	<!-- ? -->
	<select id="retrieveGroupStatsRecordByMonth" parameterType="map"
		resultType="int">
		SELECT sum(price)
		FROM record_table
		WHERE regDate <![CDATA[>=]]> #{sDate} AND regDate <![CDATA[<]]> #{fDate}+1 AND accounting=#{accounting} AND groupId=#{groupId}
		GROUP BY TO_CHAR(regDate,'yyyymm')
		ORDER BY TO_CHAR(regDate,'yyyymm') ASC
	</select>
	<!-- ? -->
	<select id="retrieveGroupStatsRecordByYear" parameterType="map"
		resultType="int">
		SELECT sum(price)
		FROM record_table
		WHERE regDate <![CDATA[>=]]> #{sDate} AND regDate <![CDATA[<]]> #{fDate}+1 AND accounting=#{accounting} AND groupId=#{groupId}
		GROUP BY TO_CHAR(regDate,'yyyy')
		ORDER BY TO_CHAR(regDate,'yyyy') ASC
	</select>
	
	

	<select id="retrieveGroupStatsRecordByAccounting" parameterType="map"
		resultType="Integer">
		SELECT sum(price)
		FROM record_table
		WHERE accounting=#{accounting} AND groupId=#{groupId}
	</select>

	<!-- ? -->
	<select id="retrieveEventStatsRecordByMonth" parameterType="map"
		resultType="int">
		SELECT sum(price)
		FROM record_table
		WHERE regDate <![CDATA[>=]]> #{sDate} AND regDate <![CDATA[<]]> #{fDate}+1 AND accounting=#{accounting} AND eventId=#{eventId}
		GROUP BY TO_CHAR(regDate,'yyyymm')
		ORDER BY TO_CHAR(regDate,'yyyymm') ASC
	</select>
	

	
	
	

	<select id="retrieveEventStatsRecordByCategory" parameterType="map"
		resultType="Integer">
		SELECT sum(price)
		FROM record_table
		WHERE accounting=#{accounting} AND eventId=#{eventId} AND category=#{category}
		
	</select>

	<select id="retrieveEventStatsRecordByAccounting" parameterType="map"
		resultType="Integer">

		SELECT sum(price)
		FROM record_table
		WHERE accounting=#{accounting} AND eventId=#{eventId}
	</select>
	
	
	<select id="retrieveStatsByEvent" parameterType="map"
		resultType="Record">

		SELECT sum(price),eventId
		FROM record_table
		WHERE accounting=#{accounting} AND groupId=#{groupId}
		GROUP BY eventId
		ORDER BY eventId
	</select>
	


</mapper>